header {
    background-color: #d93644;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Cinzel', serif;
}


nav a {
    color: white;
    font-family: 'Mountains of Christmas', cursive;
    font-size: large;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    transition: transform 0.3s ease, color 0.3s ease;
}
nav ul li {
    display: inline;
    margin: 0 15px;
}
nav a:hover {
    transform: scale(1.25);
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
}

.page-container {
    margin: 0 auto;
    margin-top: 1%;
    padding-left: 20px;
    padding-right: 20px;
}
.page-container h1 {
    text-align: center;
}
.page-container h2 {
    font-family: 'Cinzel', serif;
    color: #d93644;
    font-size: 1.8rem;
    text-align: center;
}
 

.section-spacing {
    padding-top: 30px;
    padding-bottom: 30px;
}

.hero-section {
    position: relative;
    min-height: 50vh;
    text-align: center;
    padding: 20px 10px;
    background-color: #011f4b;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    color: white;
    position: relative;
    overflow: hidden;
}

.hero-section::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 300px;
    background: url('../images/Snow.png') no-repeat center bottom;
    background-size: cover;
    z-index: 1;
}

.countdown-section {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;
}
.time-box {
    text-align: center;
}

#days, #hours, #minutes, #seconds {
    font-size: 4rem;
    font-weight: bold;
    display: block;
}
.time-label {
    font-size: 1.2rem;
    margin-top: 5px;
    color: #666;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.hero-section h1 {
    font-family: 'Mountains of Christmas', cursive;
    font-size: 4rem;
    color: #d93644;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
}

.snowflake {
    position: absolute;
    top: -10%;
    font-size: 1.5rem;
    color: #fff;
    animation-name: fall;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration:7s;
    animation-delay: 0s;
    opacity: 0.8;
    pointer-events: none;
    z-index: 1000;
}

@keyframes fall {
    0% {
        transform: translateY(0) rotate(0deg);
    }
    100% {
        transform: translateY(110vh) rotate(360deg);
    }
}


.about-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    padding-top: 20px;

}
.joke-section {
    text-align: center;
}
.joke-section p {
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    padding-top: 20px;

}
#joke-btn {
    text-align: center;
    background-color: #d93644;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.about-section {
    padding-top: 60px;
}

.santa-flyby {
    position: absolute;
    width: 300px;
    animation: flyby 10s linear infinite;
    z-index: 2;
    pointer-events: none;
}
@keyframes flyby {
  0% {
    left: -300px;
    top: 70%;
    transform: scale(1) rotate(-2deg);
  }
  25% {
    left: 25%;
    top: 60%;
    transform: scale(1.05) rotate(0deg);
  }
  50% {
    left: 50%;
    top: 50%;
    transform: scale(1.1) rotate(2deg);
  }
  75% {
    left: 75%;
    top: 30%;
    transform: scale(1) rotate(-2deg);
  }
  100% {
    left: 110%;
    top: 10%;
    transform: scale(1) rotate(-2deg);
  }
}

.weather-section.section-spacing {
  text-align: center;  
}

#check-weather-btn {
    background-color: #d93644;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}



#zip-input {
    display: inline-flex;
    margin-right: 10px;
    padding: 8px;
    font-size: 1.1rem;
}

#check-weather-btn {
    display: inline-flex;
    padding: 10px 15px;
    font-size: 1.1rem;
}


#weather-result{
    display: block;
    margin: 10px auto;
}

.weather-section.section-spacing p{
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    padding-top: 20px;
}


